@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import "./colors";

$border: 0.1rem solid rgba(0, 0, 0, 0.2);
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}
@mixin font($size) {
    font-family: "Satisfy", cursive;
    font-size: $size;
    color: $primary;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem;

    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: $white;
    }
    &::-webkit-scrollbar-thumb {
        background: $primary;
        border-radius: 5rem;
    }
}

section {
    padding: 2rem 9%;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.7rem 1.8rem;
    font-size: 1.7rem;
    color: $white;
    background: $primary;
    border-radius: 0.5rem;

    &:hover {
        background: $black;
    }
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: $white;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;

    .logo-navbar img {
        max-width: 200px;
    }

    .navbar {
        a {
            font-size: 1.7rem;
            margin: 0 1rem;
            color: $light-color;

            &:hover {
                color: $primary;
            }
        }
    }

    .icons div {
        height: 4.5rem;
        width: 4.5rem;
        line-height: 4.5rem;
        font-size: 2rem;
        background: $light-bg;
        color: $black;
        border-radius: 0.5rem;
        margin-left: 0.3rem;
        cursor: pointer;
        text-align: center;

        &:hover {
            color: $white;
            background: $primary;
        }
    }
}

#menu-btn {
    display: none;
}

@keyframes fadeUp {
    0% {
        transform: translateY(-5rem);
        opacity: 0;
    }
}
.search-form-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    height: calc(100vh - 8.5rem);
    background: $white;
    z-index: 1000;
    display: none;

    &.active {
        display: block;
    }

    form {
        height: 7rem;
        border-bottom: 0.2rem solid $black;
        width: 100%;
        display: flex;
        align-items: center;
        animation: fadeUp 0.4s linear;

        input {
            height: 100%;
            width: 100%;
            font-size: 1.7rem;
            color: $black;
            text-transform: none;
            padding-right: 1rem;
        }

        label {
            font-size: 3rem;
            cursor: pointer;
            color: $black;

            &:hover {
                color: $primary;
            }
        }
    }
}

.shopping-cart-container {
    position: fixed;
    top: 8.5rem;
    z-index: 1000;
    left: 0;
    right: 0;
    height: calc(100vh - 8.5rem);
    background: $white;
    overflow-y: scroll;
    padding-bottom: 8rem;
    display: none;

    &.active {
        display: block;
    }

    &::-webkit-scrollbar {
        width: 1rem;
    }
    &::-webkit-scrollbar-track {
        background: $white;
    }
    &::-webkit-scrollbar-thumb {
        background: $black;
        border-radius: 5rem;
    }

    .title {
        font-size: 2.5rem;
        padding: 1rem;
        color: $black;
        border-bottom: $border;
        text-align: center;
    }

    .product-container {
        border: $border;
        border-radius: 0.5rem;
        animation: fadeUp 0.4s linear;

        .box-container {
            @include grid(30rem);
            padding: 1.5rem;

            .box {
                border-radius: 0.5rem;
                background: $light-bg;
                display: flex;
                align-items: center;
                gap: 1.5rem;
                padding: 2rem;
                position: relative;

                .fa-times {
                    position: absolute;
                    top: 0.7rem;
                    right: 1rem;
                    font-size: 2rem;
                    cursor: pointer;
                    color: $black;

                    &:hover {
                        color: $primary;
                    }
                }
                img {
                    height: 8rem;
                }

                .content {
                    h1 {
                        font-size: 5rem;
                        color: $black;
                    }

                    span {
                        font-size: 2rem;
                        color: $light-color;

                        &.price {
                            color: $primary;
                        }
                    }

                    input {
                        width: 8rem;
                        padding: 0.5rem 1.2rem;
                        font-size: 1.5rem;
                        color: $black;
                        margin: 0.7rem;
                    }
                }
            }
        }
    }

    .cart-total {
        margin-top: 2rem;
        border: $border;
        border-radius: 0.5rem;
        animation: fadeUp 0.4s linear 0.4s backwards;

        .box {
            padding: 1.5rem;

            h3 {
                color: $black;
                font-size: 2rem;
                padding-bottom: 0.7rem;

                span {
                    color: $primary;
                }
            }
        }
    }
}

.login-form-container {
    position: fixed;
    top: 8.5rem;
    z-index: 1000;
    left: 0;
    right: 0;
    height: calc(100vh - 8.5rem);
    background: $white;
    padding: 0 2rem;
    display: none;

    &.active {
        display: block;
    }

    form {
        margin: 2rem auto;
        max-width: 40rem;
        box-shadow: $box-shadow;
        border: $border;
        padding: 2rem;
        border-radius: 0.5rem;
        animation: fadeUp 0.4s linear;

        h3 {
            padding-bottom: 1rem;
            font-size: 2.5rem;
            text-transform: uppercase;
            color: $black;
        }

        .box {
            margin: 0.7rem 0;
            border-radius: 0.5rem;
            background: $light-bg;
            padding: 1rem 1.2rem;
            font-size: 1.6rem;
            color: $black;
            text-transform: none;
            width: 100%;
        }

        .remember {
            padding: 1rem 0;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            label {
                font-size: 1.5rem;
                cursor: pointer;
                color: $light-color;
            }
        }

        .btn {
            margin: 1rem 0;
            width: 100%;
            text-align: center;
        }

        p {
            padding-top: 1rem;
            font-size: 1.5rem;
            color: $light-color;

            a {
                color: $primary;

                &:hover {
                    color: $black;
                }
            }
        }
    }
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 2rem;
    position: relative;
    overflow: hidden;

    .content {
        flex: 1 1 41rem;
        z-index: 1;

        h1 {
            font-size: 56px;
            color: $black;
        }

        span {
            font-size: 20px;
            color: $primary;
        }

        p {
            font-size: 18px;
            color: $light-color;
            line-height: 24px;
            padding: 16px 0;
        }
    }
    .image {
        flex: 1 1 41rem;
        margin: 2rem 0;
        pointer-events: none;
        z-index: 1;

        .home-img {
            width: 100%;
        }
    }
}

.kategory {
    margin: 60px 0;
    .section-title {
        text-align: center;

        h3 {
            font-size: 34px;

            span {
                color: $primary;
            }
        }

        p {
            font-size: 18px;
            margin: 10px auto 0 auto;
            width: 44%;
            color: $light-color;
        }
    }

    .row {
        margin: 0 -5px;
        margin-top: 32px;

        &::after {
            content: "";
            display: table;
            clear: both;
        }

        .column {
            float: left;
            width: 25%;
            padding: 0 10px;
            margin-top: 3px;

            .card {
                box-shadow: $box-shadow;
                padding: 16px;
                text-align: center;
                background-color: $white;
                border-radius: 14px;
                border: 1px solid $light-bg;

                img {
                    width: 140px;
                }

                p {
                    font-size: 18px;
                    padding-top: 8px;
                    color: $black;
                }

                &:hover {
                    border: 1px solid $primary;
                }

                &:hover p {
                    color: $primary;
                }
            }
        }
    }
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    background: $light-bg;

    .image {
        flex: 1 1 40rem;

        img {
            width: 100%;
            border-radius: 16px;
        }
    }

    .content {
        flex: 1 1 40rem;

        span {
            @include font(32px);
        }

        .title {
            font-size: 32px;
            padding-top: 8px;
            color: $black;
        }

        p {
            padding: 8px 0;
            line-height: 2;
            font-size: 18px;
            color: $light-color;
        }

        .icons-container {
            margin-top: 8px;
            display: flex;
            flex-wrap: wrap;
            gap: 24px;

            .icons {
                flex: 1 1 20rem;
                border-radius: 8px;
                background: $white;
                box-shadow: $box-shadow;
                display: flex;
                align-items: center;
                gap: 16px;
                padding: 18px;

                img {
                    width: 32px;
                }

                h3 {
                    font-size: 14px;
                }
            }
        }
    }
}

.banner {
    .row-banner {
        background: url(../images/banner1.png);
        height: 720px;
        background-size: cover;
        background-position: center;
        position: relative;

        .content {
            position: absolute;
            top: 50%;
            left: 7%;
            transform: translateY(-50%);

            span {
                @include font(46px);
            }

            h3 {
                font-size: 46px;
                text-transform: uppercase;
                letter-spacing: 3px;
            }

            p {
                font-size: 24px;
                color: $black;

                span {
                    color: $primary;
                    font-family: "Poppins", sans-serif;
                    font-size: 32px;
                }
            }
            .btn {
                margin-top: 16px;
            }
        }
    }
    .grid-banner {
        @include grid(318px);

        .grid {
            position: relative;
            border-radius: 16px;
            overflow: hidden;
            height: 248px;

            &:hover img {
                transform: scale(1.2);
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .content {
                position: absolute;
                top: 32px;
                padding: 0 32px;
                z-index: 4;
                text-align: center;
                width: 100%;

                span {
                    font-size: 32px;
                    color: $black;
                }

                h3 {
                    font-size: 28px;
                    color: $primary;
                    padding-top: 0.5rem;
                }

                p {
                    font-size: 24px;
                }
            }
        }
    }
}

.blogs {
    .section-title {
        text-align: center;

        h3 {
            font-size: 34px;

            span {
                color: $primary;
            }
        }
    }
}
// media queries

@media (max-width: 991px) {
    .header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: $white;
        border-top: $border;
        border-bottom: $border;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        &.active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        a {
            font-size: 2rem;
            margin: 2rem;
            display: block;
        }
    }

    .row .column {
        width: 50% !important;
        display: block;
        margin-bottom: 20px;
    }

    .kategory {
        .section-title {
            p {
                width: 80%;
            }
        }
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .shopping-cart-container .cart-total {
        .box {
            text-align: center;

            .btn {
                width: 100%;
            }
        }
    }

    .home {
        .content {
            h1 {
                font-size: 34px;
            }
        }
    }

    .kategory {
        .section-title {
            p {
                font-size: 14px;
                width: 100%;
            }
        }
        .row {
            .column {
                padding: 0 4px;

                .card {
                    padding: 6px;

                    img {
                        width: 50%;
                    }
                }
            }
        }
    }

    .banner {
        .row-banner {
            height: 464px;
            .content {
                span,
                h3 {
                    font-size: 32px;
                }
            }
        }

        .grid-banner {
            .grid {
                .content {
                    span {
                        font-size: 22px;
                    }

                    h3 {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

// preloader

#loader {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $light-bg;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    overflow: hidden;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
